# Java / Spring
demo/target/
target/
*.class
*.jar
*.war
*.ear

# Database
demo/data/
*.db
*.mv.db
*.trace.db

# Node / React
UI/node_modules/
UI/dist/
.eslintcache

# IDEs
.idea/
.vscode/
*.swp
*.log
*.DS_Store

# Logs
logs/
*.log

# Temp
tmp/
